<div>
    <h1>Gamers Xperience</h1>

    <p>Gamers Xperience is console gaming arcade. We provide gamers of all ages and skill levels a place to not only try out and play the newest games and hardware available, but also a place to meet and play with other gamers from around the local area.</p>
    <p>Our Motto: <b>RELAX, PLAY, COMPETE</b></p>
    <p><b>RELAX:</b> Come down and relax in the comfort and the company of family, friends, and/or fellow gamers. When you come to Gamers Xperience you can just relax, because everyone is here to have fun.</p>
    <p><b>PLAY:</b> Play anything game you want, play any system you want. Play something you never played before or wouldn't dare buy. Play online, play offline.Play the newest game, Play an old game. Play together, Play alone. Just Play and you'll feel right at home.</p>
    <p><b>COMPETE:</b> Compete against other gamers from around the local area in the newest and best games available. You can compete in friendly head 2 head competion or you enter in any of our many tournaments we host for a bragging rights and prizes.</p>

    <h1>F.A.Q.</h1>

    <div>
        <button type="button" class="btn btn-default" ng-click="about.isQuesColl(about.quesOneColl)">"Do you have to be a certain age to play?"</button>
        <hr>

        <div uib-collapse="about.quesOneColl.value">
            <div class="well well-lg"> We do recommend that you are at least 8 years old or older to come play. If under the age of 13, an adult must be present with the child. We are not a babysitter. Think of us as the "Fun Uncle" and not as the "Grandparents." </div>
        </div>
    </div>

    <div>
        <button type="button" class="btn btn-default" ng-click="about.isQuesColl(about.quesTwoColl)">"What is the atmosphere like?"</button>
        <hr>

        <div uib-collapse="about.quesTwoColl.value">
            <div class="well well-lg"> For over 7 years, we have maintained a fun and comfortable atmosphere for all personalities and ages. No horseplay, no harassment, nor foul language is permitted.</div>
        </div>
    </div>

    <div>
        <button type="button" class="btn btn-default" ng-click="about.isQuesColl(about.quesThreeColl)">" I want to try a new game but I don't know how to play.Can you help me?"</button>
        <hr>

        <div uib-collapse="about.quesThreeColl.value">
            <div class="well well-lg"> Yes we can help.Our staff is a staff of gamers. If you want to learn how to play a particular games, get stuck at a certain part of a game,or just want to get better at a game...our talented staff should be able to assist you. </div>
        </div>
    </div>

    <div>
        <button type="button" class="btn btn-default" ng-click="about.isQuesColl(about.quesFourColl)">"Can I bring my own controller and/or games?"</button>
        <hr>

        <div uib-collapse="about.quesFourColl.value">
            <div class="well well-lg"> We have all of the controllers necessary to play and over 100 different games to choose from, but you are always welcome to bring your own controller and/or game if you choose to. </div>
        </div>
    </div>

    <div>
        <button type="button" class="btn btn-default" ng-click="about.isQuesColl(about.quesFiveColl)">"How much does it cost to play online?"</button>
        <hr>

        <div uib-collapse="about.quesFiveColl.value">
            <div class="well well-lg"> Online play is FREE with your Hourly or Day Passes. Certain games and/or online play may be subject to our "Full House" rule.  </div>
        </div>
    </div>

    <div>
        <button type="button" class="btn btn-default" ng-click="about.isQuesColl(about.quesSixColl)">"Will I have my own television?"</button>
        <hr>

        <div uib-collapse="about.quesSixColl.value">
            <div class="well well-lg"> It depends on the size of the crowd that day. All games, systems, and tv's are subject to our "Full House" rule. </div>
        </div>
    </div>

    <div>
        <button type="button" class="btn btn-default" ng-click="about.isQuesColl(about.quesSevenColl)">"What is the "Full House" rule?"</button>
        <hr>

        <div uib-collapse="about.quesSevenColl.value">
            <div class="well well-lg"> The "Full House" rule is when we no longer have any available systems and/or televisions. All are in use. At this point single player games will no longer be allowed to be played (online or offline). All games must be mutiplayer capable to allow everyone a chance to play. </div>
        </div>
    </div>
</div>